.acomcard{
    width: 50%;
    height: 50%;
    background-color: pink;
    margin-left:300px;
    margin-right:150px;
}
.uno{
    margin-bottom: 1cm;
}
.dos{
    margin-bottom: 1cm;
}
.tres{
    margin-bottom: 1cm;
}
.cuatro{
    margin-bottom: 1cm;
}

.uno2{
    margin-bottom: 1cm;
}
.dos2{
    margin-bottom: 1cm;
}
.tres2{
    margin-bottom: 1cm;
}
.cuatro2{
    margin-bottom: 1cm;
}